header {
    border-bottom: 1px solid gray;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;

    .logo {
        display: flex;
        flex-direction: row;
        gap: 10px;

        img {
            margin: auto 0;
            height: 28px;
            margin-right: 10px;
        }
    }
}
