.country {
    display: contents;

    &__error {
        display: flex;
        justify-content: center;
        padding: 20px;
        font-size: 1.2rem;
        color: rgb(170, 19, 19);
    }

    &__title {
        display: flex;
        justify-content: center;

        margin-bottom: 5px;
    }

    &__stats {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 16px;
    }

    &__chart {
        display: flex;
        justify-content: center;

        app-chart {
            width: 50%;
        }
    }

    &__link {
        display: flex;
        justify-content: center;
    }

    @media (max-width: 1199px) {
        &__title,
        &__stats,
        &__chart {
            grid-column: span 8;

            app-chart {
                width: 80%;
            }
        }
    }

    @media (max-width: 767px) {
        &__title,
        &__stats,
        &__chart {
            grid-column: span 4;

            app-chart {
                width: 90%;
            }
        }
    }
}
