// color theme
$primary-color: #0b868f;
$secondary-color: #0b4f8f;

// text color theme
$text-primary-color: white;
$text-secondary-color: whitesmoke;
$text-gray-color: gray;

// margins paddings
$padding: 10px;

// borders
$border-radius: 10px;
