.app-layout {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(12, 1fr);
}

@media (max-width: $breakpoint-lg) {
    .app-layout {
        grid-template-columns: repeat(8, 1fr);
    }
}

@media (max-width: $breakpoint-md) {
    .app-layout {
        grid-template-columns: repeat(4, 1fr);
    }
}

// columns system
@for $i from 1 through 12 {
    .col-lg-#{$i} {
        grid-column: span $i;
    }
}

@media (max-width: 1199px) {
    @for $i from 1 through 8 {
        .col-md-#{$i} {
            grid-column: span $i;
        }
    }
}

@media (max-width: 767px) {
    @for $i from 1 through 4 {
        .col-xs-#{$i} {
            grid-column: span $i;
        }
    }
}
