@use '../../../../styles/variables' as *;

.card {
    text-align: center;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: $padding;
    margin: 2px 0;

    &-title {
        margin: 2px 0;
        color: $text-gray-color;
    }

    &-value {
        margin: 2px 0;
    }
}
