@use 'src/assets/styles/_variables.scss' as *;

.card {
    text-align: center;
    border: 1px solid $primary-color;
    border-radius: 10px;
    padding: $padding;
    margin: 2px 0;
    color: $text-secondary-color;

    &-title {
        margin: 2px 0;
    }

    &-value {
        margin: 2px 0;
    }
}
